*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* UTILITY */

.w-100{
    width: 100%;
}

body{
    color: white;
    background-color: black;
}

.container{
    max-width: 90vw;
    margin: 50px auto;
}

/* start of header */
header{
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.header-container{
    margin: 5px;
}

.header-btn{
    color: white;
    background-color: rgba(74,74,74,255);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

/*end of header*/

.username{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(33, 5, 5, 0.621);
    font-size: 60%;
    padding: 2%;
}

.row{
    width: 100%;
}

.col{
    width: 100%;
}

ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

ul li img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

li{
    position: relative;
    list-style-type: none;
    width: 180px;
    height: 120px;
}

/* start of footer */
footer{
    background-color: rgba(34,34,34,255);
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.footer-container{
    width: 100%;
}

.row-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sm-col, .md-col{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.content-footer{
    text-align: center;
}

#icons{
    font-size: 20px;
    padding-bottom: 5px;
}

p{
    font-size: 10px;
}

.end{
    font-size: 12px;
    color: rgba(240,28,32,255);
    text-align: center;
    background-color: rgba(74,74,74,255);
}

.green{
    color: rgba(75,200,0,255);
}