*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* UTILITY */

.w-100{
    width: 100%;
}

body{
    color: white;
}

.container{
    width: 90vw;
    margin: 50px auto;
}

/* start of header */
header{
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.header-container{
    margin: 5px;
}

.header-btn{
    color: white;
    background-color: rgb(74,74,74);
    border: none;
    border-radius: 5px;
    padding: 2px 4px;
}
/*end of header*/


.image{
    position: relative;
    width: calc((100% - 28px) / 7);
    margin: 5px 2px;
}

img{
    display: block;
    width: 100%;
}

.username{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(33, 5, 5, 0.621);
    font-size: 1vw;
    padding: 0.5vw;
}

.row{
    width: 100%;
}

.col{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer{
    background-color: black;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.footer-container{
    width: 100%;
}

.row-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sm-col, .md-col{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.content-footer{
    text-align: center;
}

#icons{
    font-size: 25px;
    padding-bottom: 5px;
}

p{
    font-size: 12px;
}

.end{
    font-size: 12px;
    color: red;
    text-align: center;
    background-color: grey;
}